<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>Hospital_DBMS_Web</title>
		<meta charset="utf-8"/>
		<script src="/jquery-3.3.1.min.js"></script>
		<script src="/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:600,700,700i" rel="stylesheet">
		<link href="/googleFont.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">GlobalMeds</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class=""><a href="#">Hospitals<span class="sr-only">(current)</span></a></li>
						<li><a href="#">Doctors</a></li>
						<li><a href="#">Patients</a></li>
						<li><a href="#">Blood Bank</a></li>
						<li><a href="#">Pharmacy</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		
		