<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>Hospital_DBMS_Web</title>
		<meta charset="utf-8"/>
		<script src="/jquery-3.3.1.min.js"></script>
		<script src="/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Raleway:600,700,700i" rel="stylesheet">
		<link href="/googleFont.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">GlobalMeds <i class="fas fa-file-medical"></i></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class=""><a href="/table-view/hospitals/?query=0">Hospitals</a></li>
						<li><a href="/table-view/doctors/?query=0">Doctors</a></li>
						<li><a href="/table-view/patients/?query=0">Patients</a></li>
						<li><a href="/table-view/blood_bank/?query=0">Blood Bank</a></li>
						<li><a href="/table-view/pharmacy_products/?query=0">Pharmacy</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<p class="filler"></p>
		<link rel="stylesheet" href="/header.css">
		