<% include header.ejs %>
	<link rel="stylesheet" href="/home.css">
	<img src="/meds.jpg" class="bkg_img" height="100%" width="100%"/>
	<div class="logo">
		<span class="fas-logo"><i class="fas fa-file-medical"></i></span>
	</div>
	<div class="brand-name">
		GlobalMeds
	</div>
<% include footer.ejs %>