<% include header.ejs %>
	<link rel="stylesheet" href="/patients_form.css">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6 form-block">
				<form action="/insert/patients" method="POST">
					<div class="form-group">
						<label for="id"></label>
						<input type="text" class="form-control input-lg" id="id" name="unique_id" required placeholder="Patient ID">
					</div>
					<div class="form-group">
						<label for="name"></label>
						<input type="text" class="form-control input-lg" id="name" name="name" placeholder="Name">						
					</div>
					<div class="form-group">
						<label for="age"></label>
						<input type="text" class="form-control input-lg" id="age" name="age" placeholder="Age">	
					</div>
					<div class="form-group">
						<label for="height"></label>
						<input type="text" class="form-control input-lg" id="height" name="height" placeholder="Height">
					</div>
					<div class="form-group">
						<label for="weight"></label>
						<input type="text" class="form-control input-lg" id="weight" name="weight" placeholder="Weight">	
					</div>
					<div class="form-group">
						<label for="gender"></label>
						<input type="text" class="form-control input-lg" id="gender" name="gender" placeholder="Gender">
					</div>
					<div class="form-group">
						<label for="blood_group"></label>
						<input type="text" class="form-control input-lg" id="blood_group" name="blood_group" placeholder="Blood Group">
					</div>
					<div class="form-group">
						<label for="illness"></label>
						<input type="text" class="form-control input-lg" id="illness" name="illness" placeholder="Illness">
					</div>
					<div class="form-group">
						<label for="medication_drug"></label>
						<input type="text" class="form-control input-lg" id="medication_drug" name="medication_drug" placeholder="Medication Drug">
					</div>
					<div class="form-group">
						<label for="doctor_id"></label>
						<input type="text" class="form-control input-lg" id="doctor_id" name="doctor_id" placeholder="Doctor ID">
					</div>
					<button type="submit" class="btn btn-primary btn-lg">INSERT</button>
				</form>
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
<% include footer.ejs %>
