body{
	display:block;
	width:100%;
	height:100%;
}
.bkg_img{
	position:absolute;
	z-index:-1;
	animation-name:bkg;
	animation-delay:1s;
	animation-timing-function:linear;
	animation-duration:1s;
	animation-fill-mode:both;
}
.logo{
	width:100%;
	position:absolute;
	font-size:6em;
	z-index:0;
	margin-top:15%;
	animation-name:Logo;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:1s;
	animation-fill-mode:both;
}
.fas-logo{
	margin-left:46%;	
	border-radius:15%;
	background-color:white;
	padding:2%;
}
.brand-name{
	width:100%;
	position:absolute;
	font-size:6em;
	z-index:0;
	margin-top:25%;
	color:black;
	text-align:center;
	animation-name:Brand-Name;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:1s;
	animation-fill-mode:both;
}
@keyframes Logo{ 
	0%{
		transform:translateX(45%) scale(0);
	}
	100%{
		transform:translateX(0) scale(1) rotate(2turn);
	}
}
@keyframes bkg{
	0%{
		opacity:1;
	}
	100%{
		opacity:0.5;
	}
}
@keyframes Brand-Name{
	0%{
		transform:translateY(200px) scale(0);
	}
	100%{
		transform:translate(0) scale(1);
	}
}