.form-block{
	background-color:#eee6ff;
	border-radius:10px;
	margin-bottom:10%;
}
.btn-lg{
	display:block;
	padding-left:10%;
	padding-right:10%;
	margin-left:auto;
	margin-right:auto;
	margin-top:4%;
	margin-bottom:4%;
	
}